h1 {
    font-family: 'Caveat Brush', cursive;
    background: url("http://bgfons.com/upload/smoke_texture2714.jpg");
}
.billy {
    color: white;
    font-family: 'Grand Hotel', cursive;
}
body {
    background: url("http://media.harrypotter.bloomsbury.com/rep/g/page-background-shell%20-%202.png");
}
.silly: hover {
    height:60px;
    width: auto;
}
img {
    height:200px;
    width: auto;
}
p {
    font-size: 30px;
}

button {
    background: url("http://kungfuquebec.com/wp-content/uploads/2015/09/background-Kung-Fu-Quebec.jpg");
}

