h1 {
    font-family: 'Caveat Brush', cursive;
    background: url("http://www.themarysue.com/wp-content/uploads/2015/03/mulan.jpg");
}
.billy {
    color: white;
    font-family: 'Grand Hotel', cursive;
}

body {
    background: url("http://wallpapercave.com/wp/3LBX9VI.jpg");
}
.silly: hover {
    height:60px;
    width: auto;
}
img {
    height:200px;
    width: auto;
}
p {
    font-size: 30px;
}

