<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<head>
    <title>Project</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/admin.css">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="icon" href="data:;base64,iVBORwOKGgo=">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <audio autoplayloop>
        <source src="audio/David So Ft  Paul Kim   Just Friends.mp3" type="audio/mpeg">
    </audio>
    <main>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <h1 class="center-align billy">Todo List</h1>
                    <ul class="right">
                        <li><a href="index.html" class="billy silly">Home</a></li>
                        <li><a href="admin.html" class="billy silly">Do Something</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col s12 main-container"></div>
                </div>
            </nav>
        </header>
    </main>
    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="libs/backendless.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="js/handlebars-v4.0.5 (2).js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js" type="text/javascript"></script>

    <script id="login-template" type="text/x-handlebars-template">
        <div class="col s7">
        <h2 class="center-align billy">Login</h2>
        <div>
        <form class="col s12 form-signin">
        <div class="row">
        <div class="input-field col s12">
        <input id="email" type="email" name="email" class="validate"></input>
        <label for="email">What Yo Email</label>
        </div>                    
        </div>
        <div class="row">
        <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate"></input>
        <label for="password">What Yo Password</label>
        </div>                    
        </div>
        <div class="row">
        <div class="col s12">
        <p class="right-align">
        <button class="btn btn-large waves-effect waves-light billy" type="submit" name="action">Submit</button>
        </p>
        </div>
        </div>
        </form> 
        </div>
        </div>
    </script>
    <script id="welcome-template" type="text/x-handlebars-template">
        <h2>Sup, {{email}}</h2>
        <button class="btn btn-large waves-effect waves-light add-blog">Add a new blog</button>
        <button class="btn btn-large waves-effect waves-light logout">Log Out</button>
    </script>
    <script id="add-blog-template" type="text/x-handlebars-template"><h2>Add a new Blog</h2>
        <div class="row">
        <form class="col s12 form-add-blog">
        <div class="row">
        <div class="input-field col s12">
        <textarea id="content" name="content" class="materialize-textarea"></textarea>
        <label for="content"></label>
        </div>
        </div>
        <div class="row">
        <div class="col s12">
        <p class="right-align">
        <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
        </p>
        </div>
        </div>
        </form>
        </div>
    </script>

</body>
</html>
