<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
        <link rel="icon" href="data:;base64,iVBORwOKGgo=">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <audio autoplayloop>
            <source src=" audio/Know Yourself.mp3" type="audio/mpeg">
        </audio>
        <header>
            <nav>
                <div class="nav-wrapper light-green darken-4">
                    <h1 class="center-align billy">Todo List</h1>
                    <ul class="right">
                        <li><a href="index.html" class="billy silly">Home</a></li>
                        <li><a href="admin.html" class="billy silly">Do Something</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <p class="billy">List</p>
    </body>

    <body>
        <div class="row">
            <div class="col s1"></div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/BlogPA.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="js/handlebars-v4.0.5 (2).js" type="text/javascript"></script>
        <script type="text/javascript" src="js/moment.js"></script>
        
         <script id="blogs-template" type="text/x-handlebars-template">
            {{#each posts}}
            <div class= "blog-post billy">
            <h2 class= "blog-post-title silly">{{title}}</h2>
            <div class="silly">{{content}}</div>
            <p class= "blog-post-meta silly">At {{format created}} by {{authorEmail}}</p>
            </div>
            {{/each}}
        </script>

    </body>
</html>
